<app-new-post-bar></app-new-post-bar>
<div class="label-bar-container">
  <mat-chip-list [multiple]="true" class="label-chips">
    <!-- <mat-basic-chip [selectable]="false" class="class-expand-button">
      <button mat-button color="primary" *ngIf="!classChooserExpanded" (click)="labelAreaExpanded = true;classChooserExpanded = true">
        <span>Filter: up</span>
        <mat-icon *ngIf="currentPost.classes.length === 0" style="padding-bottom: 4px">arrow_drop_down</mat-icon>
        <mat-icon *ngIf="currentPost.classes.length !== 0" style="padding: 6px 0 6px 6px;font-size: 18px;height: 18px;width: 18px;color:black;opacity:0.6"
          (click)="currentPost.classes = []">cancel</mat-icon>
      </button>
    </mat-basic-chip> -->
    <!-- <span class="formatting-divider" style="order:-1;flex:none"></span> -->
    <mat-chip color="accent" *ngFor="let label of posts; let chipIndex = index;">
      {{label}}
    </mat-chip>
  </mat-chip-list>
</div>
<div class="label-bar-overlay"></div>
<div class="class-preview-posts-grid-container">
  <div class="class-preview-posts" *ngFor="let column of gridColumns; let i = index">
    <app-post-card *ngFor="let post of postsGrid[i]; let indexy = index; trackBy:trackByPostIdFn" [input-post]="post"></app-post-card>
  </div>
  <!-- spacer grid items at the end keep the other grid items equal width -->
  <div class="class-preview-posts"></div>
  <div class="class-preview-posts"></div>
</div>