.class-preview-posts-grid-container {
    display: flex;
    margin: 0 6px;
    flex: none;
    justify-content: center;
    flex-wrap: wrap;
}

.class-preview-posts {
    display: block;
    margin: 0 6px;
    min-width: 312px;
    flex: 1 1 300px;
}

app-new-post-bar {
    position: relative;
    display: block;
    margin-bottom: -16px;
    z-index: 5;
}

.no-posts-area {
    display: flex;
    margin: 24px;
    padding: 12px;
    min-height: 100px;
    flex-direction: column;
    flex: 1;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    p,
    h3 {
        margin: 2px;
    }
    img {
        padding-top: 8px;
        width: 280px;
    }
}