.class-preview-posts-grid-container {
    display: flex;
    margin: 0 6px;
    flex: none;
    justify-content: center;
    flex-wrap: wrap;
}

.class-preview-posts {
    display: block;
    margin: 0 6px;
    min-width: 312px;
    flex: 1 1 300px;
}

app-new-post-bar {
    position: relative;
    display: block;
    margin-bottom: -16px;
    z-index: 5;
}

.no-posts-area {
    display: flex;
    margin: 24px;
    padding: 12px;
    min-height: 100px;
    flex-direction: column;
    flex: none;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    p,
    h3 {
        margin: 2px;
    }
    img {
        padding-top: 8px;
        width: 100%;
        max-width: 280px;
    }
    a {
        position: relative;
        color: darkblue;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;
        img {
            width: 100%;
            max-width: 500px;
        }
        mat-icon {
            position: absolute;
            margin: 0 auto;
            top: 170px;
            left: 0;
            right: 0;
            width: 250px;
            height: 250px;
            color: black;
            text-shadow: 0 0 50px #00000066;
            font-size: 250px;
        }
    }
}