<app-new-post-bar></app-new-post-bar>
<div class="post-chip-list" id="scrollable_class_labels">
  <mat-chip color="accent" class="chip-gradient" *ngFor="let label of labels;">
    {{label?.label}}
  </mat-chip>
  <mat-chip color="accent" class="chip-gradient" *ngFor="let label of labels;">
    {{label?.label}}
  </mat-chip>
  <mat-chip color="accent" class="chip-gradient" *ngFor="let label of labels;">
    {{label?.label}}
  </mat-chip>
  <span style="flex:none;width: 12px;height: 10px;"></span>
</div>
<div class="label-bar-overlay">
  <div class="scroll-button left mat-elevation-z2" *ngIf="labelScrollPercentage > 0.1">
    <button mat-icon-button (click)="scrollLabels('left')">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  </div>
  <div class="scroll-button right mat-elevation-z2" *ngIf="0.9 > labelScrollPercentage ">
    <button mat-icon-button (click)="scrollLabels('right')">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>
<div class="class-preview-posts-grid-container">
  <div class="class-preview-posts" *ngFor="let column of gridColumns; let i = index, trackBy:trackByIndex">
    <app-post-card *ngFor="let post of postsGrid[i]; let indexy = index; trackBy:trackByPostIdFn" [input-post]="post"></app-post-card>
    <!-- <div *ngFor="let post of postsGrid[i]; let indexy = index;">{{post.toString()}}</div> -->
  </div>
  <!-- spacer grid items at the end keep the other grid items equal width -->
  <div class="class-preview-posts"></div>
  <div class="class-preview-posts"></div>
</div>