<app-new-post-bar></app-new-post-bar>
<div class="post-chip-list" id="scrollable_class_labels">
  <mat-chip color="accent" class="chip-gradient" *ngFor="let label of labels;" (click)="filterByLabel(label.name)">
    {{label?.name}}
  </mat-chip>
  <span style="flex:none;width: 12px;height: 10px;"></span>
</div>
<div class="label-bar-overlay">
  <div class="scroll-button left mat-elevation-z2" *ngIf="labelScrollPercentage > 0.1">
    <button mat-icon-button (click)="scrollLabels('left')">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  </div>
  <div class="scroll-button right mat-elevation-z2" *ngIf="0.9 > labelScrollPercentage ">
    <button mat-icon-button (click)="scrollLabels('right')">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>
<div class="posts-grid-container">
  <div class="posts-grid-column" *ngFor="let column of gridColumns; let i = index, trackBy:trackByIndex">
    <app-post-card *ngFor="let post of postsGrid[i]; trackBy:trackByPostIdFn" [input-post]="post"></app-post-card>
  </div>
  <!-- spacer grid items at the end keep the other grid items equal width -->
  <div class="posts-grid-column"></div>
  <div class="posts-grid-column"></div>
</div>
<div class="no-posts-area">
  <ng-container *ngIf="!postResult || (postResult?.totalPages !== 0 && postResult?.totalPages > postResult?.page + 1)">
    <mat-progress-spinner mode="indeterminate" color="accent" diameter="36"></mat-progress-spinner>
  </ng-container>
  <ng-container *ngIf="postResult?.totalPages !== 0 && postResult?.totalPages === postResult?.page + 1">
    <h3>But wait, there's more!</h3>
    <p>Search
      <a (click)="openQuizlet()">York Quizlet</a> with over 2000 more York-Made flashcard sets!</p>
    <a (click)="openQuizlet()">
      <img src="/assets/York Quizlet.png">
      <mat-icon>launch</mat-icon>
    </a>
  </ng-container>
  <ng-container *ngIf="postResult?.totalPages === 0">
    <h3>It's so lonely here</h3>
    <img src="assets/Lonely Island.png">
    <p style="font-weight: bold">Be the first to contribute. 😀
      <!-- <span style="    transform: translateY(3px) translateX(3px);display: inline-block;font-size: 30px;">✎</span> -->
    </p>
    <p>OR</p>
    <p>Search
      <a (click)="openQuizlet()">York Quizlet</a> with over 2000 more York-Made flashcard sets!</p>
  </ng-container>
</div>