<div class="no-posts-area">
    <ng-container *ngIf="quizletUsername">
        <button (click)="openQuizlet()" mat-button color="accent">Go to York Quizlet
            <mat-icon>open_in_new</mat-icon>
        </button>
        <img src="/assets/York Quizlet.png" (click)="openQuizlet()">
        <button (click)="editUsername()" mat-button>
            <mat-icon>edit</mat-icon> Edit Your Quizlet username
        </button>
        OR
        <button (click)="deleteUsername()" mat-button>
            <mat-icon>pause</mat-icon> Pause Syncing of Your Quizlet Sets.
        </button>
    </ng-container>
    <ng-container *ngIf="!quizletUsername">
        <img src="/assets/York Quizlet.png" width="400">
        <h4>
            <ng-container *ngIf="quizletUserAutocomplete.length === 0 && usernameSearch; else notSearching">Can't find that username, check your spelling</ng-container>
            <ng-template #notSearching>
                York Quizlet
            </ng-template>
        </h4>
        <mat-form-field style="width: 100%;">
            <input type="text" placeholder="Your Quizlet Username:" [(ngModel)]="usernameSearch" aria-label="Number" (ngModelChange)="onInput($event)"
                matInput [matAutocomplete]="quizletselector">
            <mat-autocomplete #quizletselector="matAutocomplete" (optionSelected)="onSubmit($event.option.value)">
                <mat-option *ngFor="let user of quizletUserAutocomplete" [value]="user.username">
                    <mat-icon style="vertical-align: middle;">arrow_forward</mat-icon>
                    <img style="vertical-align: middle;margin-right: 6px;width: 40px;height: 40px;border-radius: 50%;" [src]="user?.profile_image">
                    <span matLine>{{ user.username }}</span>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <p style="text-align: center">Share your Quizlet Username. Join the York Quizlet Class, and get access to 2000+ York student flashcard sets.
            <br>This tool will automatically add any
            <em>
                <b>public</b>
            </em> quizlet sets you create to York Quizlet.
        </p>
    </ng-container>
</div>