<div class="search-filters">
  <button mat-button [matMenuTriggerFor]="menu">{{classFilters.length === 0 ? 'Filter by Class': classFilters.join(', ')}}
    <mat-icon *ngIf="classFilters.length === 0" style="font-size: 24px">arrow_drop_down</mat-icon>
    <mat-icon *ngIf="classFilters.length !== 0" style="padding: 6px 0 6px 6px;font-size: 18px;height: 18px;width: 18px;color:black;opacity:0.6"
      (click)="classFilters = []">cancel</mat-icon>
  </button>
  <mat-menu #menu="matMenu" overlapTrigger="false" (closed)="classSearchText = ''" class="search-class-filter-menu">
    <app-class-selector (click)="$event.stopPropagation()" [selection]="classFilters" (selection-change)="filterByClass($event)"
      [filter-search]="classSearchText" style="max-height: 50vh;width:100%;display: block;overflow:auto"></app-class-selector>
    <div>
      <input [(ngModel)]="classSearchText" (click)="$event.stopPropagation()" placeholder="Search Classes" style="width: 100%; font-size:16px; padding: 16px;box-sizing: border-box;border:none"
        class="mat-elevation-z3">
      <mat-icon *ngIf="classSearchText !== ''" style="padding: 16px;background:white; cursor:pointer;font-size: 18px;height: 18px;width: 18px;color:black;opacity:0.6;position: absolute;right: 0;bottom: 0;"
        (click)="$event.stopPropagation();classSearchText = ''">cancel</mat-icon>
    </div>
  </mat-menu>
  <mat-form-field>
    <div style="position:relative;">
      <input type="text" placeholder="Creator" [(ngModel)]="creatorFilter" aria-label="Number" (ngModelChange)="onCreatorFilterInput($event)"
        matInput [matAutocomplete]="creatorselector">
      <mat-icon *ngIf="creatorFilter !== ''" style="background:white; cursor:pointer;font-size: 18px;height: 18px;width: 18px;color:black;opacity:0.6;position: absolute;right: 0;bottom: 0;"
        (click)="creatorFilter = ''; onCreatorFilterInput(null)">cancel</mat-icon>
    </div>
    <mat-autocomplete #creatorselector="matAutocomplete" (optionSelected)="filterByCreator($event.option.value)">
      <ng-container *ngFor="let creator of creatorList">
        <mat-option [value]="creator.name  || creator.value">
          {{ creator.name || creator.value }}
          <span style="float:right;color:grey">{{creator.count}} Posts</span>
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>
</div>

<div class="post-chip-list" id="scrollable_class_labels">
  <!-- class="chip-gradient" -->
  <mat-chip color="accent" *ngFor="let label of labels;" (click)="filterByLabel(label.name)" class="chip-gradient" [ngClass]="{'label-selected':label?.isRefined}">
    {{label?.name +' '+label?.isRefined}}
  </mat-chip>
  <span style="flex:none;width: 12px;height: 10px;"></span>
</div>
<div class="label-bar-overlay">
  <div class="scroll-button left mat-elevation-z2" *ngIf="labelScrollPercentage > 0.1">
    <button mat-icon-button (click)="scrollLabels('left')">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  </div>
  <div class="scroll-button right mat-elevation-z2" *ngIf="0.9 > labelScrollPercentage ">
    <button mat-icon-button (click)="scrollLabels('right')">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>


<div class="posts-grid-container">
  <div class="posts-grid-column" *ngFor="let column of gridColumns; let i = index">
    <app-post-card *ngFor="let post of postsGrid[i]; let indexy = index; trackBy:trackByPostIdFn" [input-post]="post"></app-post-card>
  </div>
  <!-- spacer grid items at the end keep the other grid items equal width -->
  <div class="posts-grid-column"></div>
  <div class="posts-grid-column"></div>
</div>