<div class="post-card post-styles mat-elevation-z3" [ngStyle]="{'background-color':'hsl('+currentPost?.color?.h+','+currentPost?.color?.s+'%,'+currentPost?.color?.l+'%)'}">
  <section class="post-header" matRipple *ngIf="currentPost?.link" (click)="viewLink()">
    <img src="/assets/16x9_placeholder.png" style="width:100%;height:100%">
    <img [src]="currentLinkPreview?.thumbnail" *ngIf="currentLinkPreview?.thumbnail" class="post-header-preview-image" (error)="this.currentLinkPreview.thumbnail = '/assets/Material_Backgrounds/' + this.randomInt + '.png'">
    <div class="post-header-overlay bottom-overlay">
      <div class="link-chip">
        <img [src]="currentLinkPreview?.icon || 'https://drive-thirdparty.googleusercontent.com/16/type/application/pdf'" class="link-favicon">
        <span class="link-name">{{currentPost?.attachmentName}}</span>
      </div>
    </div>
  </section>
  <section class="post-title-container" (click)="viewLink()">
    <h1 class="post-title">{{currentPost?.title}}</h1>
    <h2 class="post-subtitle">{{currentPost?.creator.name}}</h2>
  </section>
  <section class="post-card-body-text-container over-actions" *ngIf="currentPost?.description && !currentPost?.link" (click)="viewPost()">
    <p class="post-body-text" [innerHTML]="currentPost?.description"></p>
    <div class="post-body-overflow-indicator" [ngStyle]="{'background-color':'hsl('+currentPost?.color?.h+','+currentPost?.color?.s+'%,'+currentPost?.color?.l+'%)','box-shadow':'-20px 3px 40px 19px hsl('+currentPost?.color?.h+','+currentPost?.color?.s+'%,'+currentPost?.color?.l+'%)'}">
      <mat-icon style="margin-left: 12px; line-height: 20px;">more_horiz</mat-icon>
    </div>
  </section>
  <section class="post-actions">
    <button mat-icon-button class="like-button" (click)="likePost()">
      <span class="like-counter">{{currentPost?.likeCount || 0}}</span>
      <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="postActionsMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #postActionsMenu="matMenu">
      <button mat-menu-item (click)="editPost(currentPost)">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item (click)="deletePost(currentPost)">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
      <button mat-menu-item (click)="debugPost(currentPost)">
        <mat-icon>bug_report</mat-icon>
        <span>Debug</span>
      </button>
    </mat-menu>
    <button mat-icon-button class="expand-button" *ngIf="currentPost?.description && currentPost?.link" (click)="postBodyTextShown = !postBodyTextShown"
      [ngClass]="{'expanded':postBodyTextShown}">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </section>
  <section class="post-card-body-text-container under-actions" *ngIf="currentPost?.description && currentPost?.link" [ngClass]="{'expanded':postBodyTextShown}"
    (click)="viewPost(currentPost)">
    <p class="post-body-text" [innerHTML]="currentPost?.description"></p>
    <div class="post-body-overflow-indicator" [ngStyle]="{'background-color':'hsl('+currentPost?.color?.h+','+currentPost?.color?.s+'%,'+currentPost?.color?.l+'%)','box-shadow':'-20px 3px 40px 19px hsl('+currentPost?.color?.h+','+currentPost?.color?.s+'%,'+currentPost?.color?.l+'%)'}">
      <mat-icon style="    margin-left: 12px; line-height: 20px;">more_horiz</mat-icon>
    </div>
  </section>
</div>