<mat-selection-list [ngModel]="selection" (ngModelChange)="selection = $event" *ngIf="searchText === ''">
  <h3 matSubheader>Favorites</h3>
  <mat-list-option [value]="favClass.name" *ngFor="let favClass of favoriteClasses; trackBy:trackByClassNameFn" [ngStyle]="{'color': getClassColorString(favClass.name)}"
    (keydown)="$event.stopPropagation()">
    <h4 mat-line>{{favClass.name}}</h4>
  </mat-list-option>
</mat-selection-list>
<mat-selection-list [ngModel]="selectionValue" (ngModelChange)="selection = $event" style="padding-top: 0">
  <ng-container *ngFor="let category of formattedYorkClasses">
    <div class="class-category-header" *ngIf="searchText === ''">
      <h3 mat-subheader [ngStyle]="{'background': 'linear-gradient(152deg,hsl('+category?.color.h+','+category?.color.s+'%,'+category?.color.l+'%), white)'}"
        style="margin-top: 0;">{{category.category}}</h3>
    </div>
    <ng-container *ngFor="let class of category.classes; trackBy:trackByClassNameFn">
      <mat-list-option [value]="class.name" *ngIf="class.hidden != true">
        <h4 mat-line [ngStyle]="{'color': 'hsl('+category?.color.h+','+category?.color.s+'%,40%)'}">{{class.name}}</h4>
      </mat-list-option>
    </ng-container>
  </ng-container>
</mat-selection-list>