<div class="sidenav-container" [ngClass]="{'open':sidenavOpen}">
  <div class="side-nav">
    <mat-nav-list class="main-sidenav-links">
      <mat-list-item routerLinkActive="route-active" [routerLink]="'feed'">
        <mat-icon mat-list-icon>inbox</mat-icon>
        <h4 mat-line>Feed</h4>
      </mat-list-item>
      <mat-list-item routerLinkActive="route-active" [routerLink]="'my posts'">
        <mat-icon mat-list-icon>person</mat-icon>
        <h4 mat-line>My Posts</h4>
      </mat-list-item>
      <mat-list-item routerLinkActive="route-active" [routerLink]="'bookmarks'">
        <mat-icon mat-list-icon>bookmark</mat-icon>
        <h4 mat-line>Bookmarks</h4>
      </mat-list-item>
      <mat-list-item routerLinkActive="route-active" [routerLink]="'all posts'">
        <mat-icon mat-list-icon>inbox</mat-icon>
        <h4 mat-line>All Posts</h4>
      </mat-list-item>
      <div>
        <mat-list-item>
          <mat-icon mat-list-icon>slow_motion_video</mat-icon>
          <h4 mat-line>York Quizlet</h4>
        </mat-list-item>
      </div>
      <mat-list-item style="height: 30px">
        <span style="display: flex;justify-content: center;width:100%">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </span>
      </mat-list-item>
    </mat-nav-list>
    <section #stickyHeader class="sticky-header">
      <div class="sidenav-buttons-header" style="height: 48px;">
        <button mat-icon-button class="expand-arrow" [ngClass]="{'expanded': showAllClasses === true}" (click)="showAllClasses = !showAllClasses; showAllGroups = (editingFavorites && showAllGroups)">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        <h4 class="sidenav-header-text"> {{ showAllClasses ? 'All Classes': 'Favorites' }}</h4>
        <button mat-button style="margin-left:auto;min-width:0" color="accent" *ngIf="editingFavorites === false" (click)="showAllClasses = true; showAllGroups = true; editingFavorites = true">EDIT</button>
        <button mat-button style="margin-left:auto;min-width:0" color="accent" *ngIf="editingFavorites === true" (click)="showAllClasses = false; showAllGroups = false; editingFavorites = false">DONE</button>
      </div>
      <div class="class-and-group-searchbox sidenav-buttons-header">
        <mat-icon>search</mat-icon>
        <input placeholder="Search Classes and Groups" (input)="onClassSearchInput($event)" appScrollToElement="center">
      </div>
    </section>
    <mat-nav-list class="class-list" [ngClass]="{'all-shown': showAllClasses === true}">
      <ng-container *ngFor="let category of formattedYorkClasses; ">
        <div class="sidenav-class-category-header" *ngIf="!classSearchText" [ngStyle]="{'background': 'linear-gradient(152deg,hsl('+category?.color.h+','+category?.color.s+'%,'+category?.color.l+'%), white)'}">
          <h3 mat-subheader style="margin-top: 0;">{{ category?.category }}</h3>
        </div>
        <ng-container *ngFor="let class of category.classes; ">
          <mat-list-item [ngClass]="{'not-favorite': !favoriteClasses[class.name]}" (click)="setFavorite(class.name)" routerLinkActive="route-active"
            [routerLink]="editingFavorites ? null : class.name" *ngIf="class.hidden != true">
            <h4 mat-line [ngStyle]="{'color': 'hsl('+category?.color.h+','+category?.color.s+'%,40%)'}">{{ class.name }}</h4>
            <mat-icon *ngIf="editingFavorites">{{ favoriteClasses[class.name] === true ? 'star': 'star_outline' }}
            </mat-icon>
          </mat-list-item>
        </ng-container>
      </ng-container>
      <mat-list-item style="height: 30px" (click)="showAllClasses = !showAllClasses;">
        <span style="display: flex;justify-content: center;width:100%">
          <mat-icon>{{showAllClasses? 'keyboard_arrow_up' :'keyboard_arrow_down'}}</mat-icon>
        </span>
      </mat-list-item>
    </mat-nav-list>
    <div class="sidenav-buttons-header">
      <button mat-icon-button class="expand-arrow" [ngClass]="{'expanded': showAllGroups === true}" (click)="showAllGroups = !showAllGroups; showAllClasses = (editingFavorites && showAllClasses);">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
      <h4 class="sidenav-header-text">Groups</h4>
      <mat-icon style="margin: 0 12px 0 auto" *ngIf="editingFavorites === false">people</mat-icon>
      <button mat-button *ngIf="editingFavorites === true" (click)="showCreateGroupPopover($event)" style="margin-left:auto" class="square-icon-button">
        <mat-icon color="accent">add</mat-icon>
      </button>
    </div>
    <mat-nav-list class="group-list" [ngClass]="{'all-shown': showAllGroups === true }">
      <ng-container *ngFor="let group of yorkGroups | objKeys">
        <mat-list-item [ngClass]="{'not-favorite': !favoriteClasses[group]}" (click)="setFavorite(group)" routerLinkActive="route-active"
          [routerLink]="editingFavorites ? null : group" *ngIf="yorkGroups[group].hidden != true">
          <h4 mat-line>{{ group }}</h4>
          <mat-icon *ngIf="editingFavorites">{{ favoriteClasses[group] ? 'star': 'star_outline' }}</mat-icon>
        </mat-list-item>
      </ng-container>
      <mat-list-item style="height: 30px" (click)="showAllGroups = !showAllGroups">
        <span style="display: flex;justify-content: center;width:100%">
          <mat-icon>{{showAllGroups? 'keyboard_arrow_up' :'keyboard_arrow_down'}}</mat-icon>
        </span>
      </mat-list-item>
      <!-- <mat-list-item (click)="showAllClasses = true;showAllGroups = true" *ngIf="showAllGroups === false">
        <mat-icon mat-list-icon>arrow_drop_down</mat-icon>
        <h4 mat-line>Show All</h4>
      </mat-list-item>
      <mat-list-item (click)="showAllClasses = false; showAllGroups = false" *ngIf="showAllGroups === true">
        <mat-icon mat-list-icon>arrow_drop_up</mat-icon>
        <h4 mat-line>Show Favorites</h4>
      </mat-list-item> -->
    </mat-nav-list>
  </div>
  <div class="backdrop" (click)="closeSideNav()"></div>
</div>
<button mat-fab class="pullout-fab" color="white" (click)="openSideNav()" *ngIf="sidenavOpen === false">
  <mat-icon style="margin-left: 21px;">keyboard_arrow_right</mat-icon>
</button>